// Owl Carousel
.owl-carousel.owl-modern(data-items='1', data-stage-padding='15', data-margin='30', data-dots='true', data-animation-in="fadeIn", data-animation-out="fadeOut", data-autoplay='true')
	+quote-lisa({
		img: 'user-16-100x100',
		text: 'Pharetra vel turpis nunc eget lorem dolor sed viverra ipsum. Diam phasellus vestibulum lorem sed risus ultricies. Aenean et tortor at risus viverra adipiscing. Aliquet enim tortor at auctor urna. Tortor aliquam nulla facilisi cras fermentum. Malesuada pellentesque elit eget gravida cum sociis natoque.',
		author: 'Catherine Williams',
		status: 'Regular Client'
	})
	+quote-lisa({
		img: 'user-17-100x100',
		text: 'Sodales ut etiam sit amet nisl purus. Maecenas accumsan lacus vel facilisis volutpat est. Suscipit adipiscing bibendum est ultricies integer quis auctor. Viverra aliquet eget sit amet tellus cras adipiscing. Posuere ac ut consequat semper viverra nam libero justo laoreet. Iaculis eu non diam phasellus vestibulum lorem sed risus ultricies.',
		author: 'Rupert Wood',
		status: 'Regular Client'
	})
	+quote-lisa({
		img: 'user-18-100x100',
		text: 'Lacus vestibulum sed arcu non odio euismod lacinia. Pellentesque elit ullamcorper dignissim cras. Ultrices eros in cursus turpis massa tincidunt dui. Nunc pulvinar sapien et ligula ullamcorper malesuada proin. Commodo odio aenean sed adipiscing diam. Sed euismod nisi porta lorem mollis aliquam.',
		author: 'Samantha Brown',
		status: 'Regular Client'
	})