//- Grid blog
.col-sm-6.col-lg-4.wow.fadeInLeft
  +post-modern({
    img: 'post-10-370x307',
    time: {datetime: '2022-07-04', dateNumber: '04', dateMonth: 'July'},
    title: 'Top 10 Hotels: Rating by Our Experts',
    text: 'Pharetra vel turpis nunc eget lorem dolor sed viverra ipsum. Diam phasellus vestibulum lorem sed risus ultricies.'
  })

.col-sm-6.col-lg-4.wow.fadeInLeft(data-wow-delay='.1s')
  +post-modern({
    img: 'post-11-370x307',
    time: {datetime: '2022-07-17', dateNumber: '17', dateMonth: 'July'},
    title: 'Your Personal Guide to 5 Best Places',
    text: 'Aliquet enim tortor at auctor urna. Tortor aliquam nulla facilisi cras fermentum. Malesuada pellentesque elit eget. '
  })

.col-sm-6.col-lg-4.wow.fadeInLeft(data-wow-delay='.2s')
  +post-modern({
    img: 'post-12-370x307',
    time: {datetime: '2022-07-22', dateNumber: '22', dateMonth: 'July'},
    title: 'How to Find the Best Travel Deals This Year',
    text: 'Viverra aliquet eget sit amet tellus cras adipiscing. Posuere ac ut consequat semper viverra nam libero justo laoreet.'
  })