{% load i18n %}

<!-- Page Footer-->
<footer class="section footer-corporate context-dark">
    <div class="footer-corporate-inset">
        <div class="container">
            <div class="row row-40 justify-content-lg-between">
                <div class="col-sm-6 col-md-12 col-lg-3 col-xl-4">
                    <div class="oh-desktop">
                        <div class="wow slideInRight" data-wow-delay="0s">
                            <h6 class="text-spacing-100 text-uppercase">{% trans "contact_us" %}</h6>
                            <ul class="footer-contacts d-inline-block d-sm-block">
                                <li>
                                    <div class="unit">
                                        <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                                        <div class="unit-body"><a class="link-phone" href="tel:#">{{ info.phone }}</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="unit">
                                        <div class="unit-left"><span class="icon fa fa-envelope"></span></div>
                                        <div class="unit-body"><a class="link-aemail"
                                                                  href="mailto:#">{{ info.email }}</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="unit">
                                        <div class="unit-left"><span class="icon fa fa-location-arrow"></span>
                                        </div>
                                        <div class="unit-body"><a class="link-location" href="#">{{ info.address }}</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 col-xl-4">
                    <div class="oh-desktop">
                        <div class="wow slideInDown" data-wow-delay="0s">
                            <h6 class="text-spacing-100 text-uppercase">{% trans "popular_news" %}</h6>
                            <!-- Post Minimal 2-->
                            {% for blog in blogs %}
                            	<article class="post post-minimal-2">
                                    <p class="post-minimal-2-title"><a href="{% url 'blog_detail' blog.slug %}">{{ blog.title }}</a></p>
                                    <div class="post-minimal-2-time">
                                        <time datetime="2022-05-04">{{ blog.created_at|date }}</time>
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-5 col-xl-4">
                    <div class="oh-desktop">
                        <div class="wow slideInLeft" data-wow-delay="0s">
                            <h6 class="text-spacing-100 text-uppercase">{% trans "links" %}</h6>
                            <ul class="row-6 list-0 list-marked list-marked-md list-marked-secondary list-custom-2">
                                <li><a href="{% url 'about' %}">{% trans "about" %}</a></li>
                                <li><a href="{% url 'gallery' %}">{% trans "gallery" %}</a></li>
                                <li><a href="{% url 'payment' %}">{% trans "payment" %}</a></li>
                                <li><a href="{% url 'blog' %}">{% trans "news" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-corporate-bottom-panel">
        <div class="container">
            <div class="row justfy-content-xl-space-berween row-10 align-items-md-center2">
                <div class="col-sm-6 col-md-4 order-sm-first">
                    <!-- Rights-->
                    <p class="rights">{% trans "all_rights_reserved" %}</p>
                </div>
            </div>
        </div>
    </div>
</footer>