{% load i18n %}
{% load static %}

<!-- Page Header-->
<header class="section page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-corporate" data-layout="rd-navbar-fixed"
             data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed"
             data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
             data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static"
             data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
             data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px"
             data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="106px" data-lg-stick-up="true"
             data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1"
                 data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-aside-outer">
                <div class="rd-navbar-aside">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span></button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand"><a class="brand" href="{% url 'home' %}"><img
                                src="{% static 'logo/logo.svg' %}" alt="logo" style="width: 100px;"/></a></div>
                    </div>
                    <div class="rd-navbar-aside-right rd-navbar-collapse">
                        <ul class="rd-navbar-corporate-contacts">
                            <li>
                                <div class="unit unit-spacing-xs">
                                    <div class="unit-left"><span class="icon fa fa-language"></span></div>
                                    <div class="unit-body">
                                        <p><a href="/ru/">Rus</a> - <a href="/en/">Eng</a></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="unit unit-spacing-xs">
                                    <div class="unit-left"><span class="icon fa fa-clock-o"></span></div>
                                    <div class="unit-body">
                                        <p>{{ info.start_time }} — {{ info.end_time }}</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="unit unit-spacing-xs">
                                    <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                                    <div class="unit-body"><a class="link-phone" href="tel:{{ info.phone }}">{{ info.phone }}</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <div class="rd-navbar-nav-wrap">
                        <!-- RD Navbar Nav-->
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item {% if path == 'en' or path == 'ru' %}active{% endif %}">
                                <a class="rd-nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="rd-nav-item {% if path == 'about' %}active{% endif %}"><a class="rd-nav-link"
                                                                                                 href="{% url 'about' %}">{% trans "about" %}</a>
                            </li>
                            <li class="rd-nav-item {% if path == 'countries' %}active{% endif %}"><a class="rd-nav-link"
                                                                                                     href="{% url 'countries' %}">{% trans "countries" %}</a>
                            </li>
                            <li class="rd-nav-item {% if path == 'gallery' %}active{% endif %}"><a class="rd-nav-link"
                                                                                                   href="{% url 'gallery' %}">{% trans "gallery" %}</a>
                            </li>
                            <li class="rd-nav-item {% if path == 'blogs' %}active{% endif %}"><a class="rd-nav-link"
                                                                                                 href="{% url 'blog' %}">{% trans "news" %}</a>
                            </li>
                            <li class="rd-nav-item {% if path == 'contact' %}active{% endif %}"><a class="rd-nav-link"
                                                                                                   href="{% url 'contact_us' %}">{% trans "contact_us" %}</a>
                            </li>
                            <li class="rd-nav-item {% if path == 'payment' %}active{% endif %}"><a class="rd-nav-link"
                                                                                                   href="{% url 'payment' %}">{% trans "payment" %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>