{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <section class="breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom context-dark bg-overlay-39">
            <div class="container">
                <h2 class="breadcrumbs-custom-title">{% trans "blog" %}</h2>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'home' %}">{% trans "home" %}</a></li>
                    <li><a href="{% url 'blog' %}">{% trans "blog" %}</a></li>
                    <li class="active">{{ blog.title }}</li>
                </ul>
            </div>
            <div class="box-position" style="background-image: url({% static 'static_images/samarkand.jpg' %});"></div>
        </div>
    </section>
    <!-- Blog Post-->
    <section class="section section-xl bg-default text-start">
        <div class="container">
            <div class="row row-70">
                <div class="col-lg-8">
                    <div class="blog-post">
                        <!-- Post Classic-->
                        <article class="post post-classic">
                            <h4 class="post-classic-title">{{ blog.title }}
                            </h4>
                            <div class="post-classic-panel group-middle justify-content-start"><a
                                    class="badge badge-secondary" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16px" height="27px"
                                     viewbox="0 0 16 27" enable-background="new 0 0 16 27" xml:space="preserve">
                        <path d="M0,0v6c4.142,0,7.5,3.358,7.5,7.5S4.142,21,0,21v6h16V0H0z"></path>
                      </svg>
                                <div>{% trans "news" %}</div>
                            </a>
                                <div class="post-classic-time"><span class="icon fa fa-clock-o"></span>
                                    <time datetime="{{ blog.created_at }}">{{ blog.created_at|date }}</time>
                                </div>
                            </div>
                            <p class="post-classic-text">{{ blog.description|safe }}</p>
                            <div class="post-classic-figure"><img src="{{ blog.image.url }}" alt="" width="770"
                                                                  height="430"/>
                            </div>
                        </article>
                        <div class="blog-post-bottom-panel group-md group-justify">
                            <div class="blog-post-tags">
                                <a href="{% url 'blog' %}?tag={{ blog.tags.name }}">{{ blog.tags.name }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Post Sidebar-->
                    <div class="post-sidebar post-sidebar-inset">
                        <div class="row row-lg row-60">
                            <div class="col-sm-6 col-lg-12">
                                <div class="post-sidebar-item">
                                    <h5>{% trans "tags" %}</h5>
                                    <div class="post-sidebar-item-inset">
                                        <ul class="list list-categories">
                                            {% for tag in tags %}
                                                {% if tag.name == blog.tags.name %}
                                                    <li><a class="active"
                                                           href="{% url 'blog' %}?tag={{ tag.name }}">{{ tag.name }}</a>
                                                    </li>
                                                {% else %}
                                                    <li><a href="{% url 'blog' %}?tag={{ tag.name }}">{{ tag.name }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="post-sidebar-item">
                                    <h5>{% trans "popular_posts" %}</h5>
                                    <div class="post-sidebar-item-inset">
                                        {% for popular_blog in popular_blogs %}
                                            <!-- Post Minimal-->
                                            <article class="post post-minimal"><a class="post-minimal-figure"
                                                                                  href="{% url 'blog_detail' popular_blog.slug %}"><img
                                                    src="{{ popular_blog.image.url }}" alt="" width="232" height="138"/></a>
                                                <p class="post-minimal-title"><a
                                                        href="blog-post.html">{{ popular_blog.title }}</a></p>
                                            </article>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}