{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

    <!-- Breadcrumbs -->
    <section class="breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom context-dark bg-overlay-48">
            <div class="container">
                <h2 class="breadcrumbs-custom-title">{% trans "gallery" %}</h2>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'home' %}">{% trans "home" %}</a></li>
                    <li class="active">{% trans "gallery" %}</li>
                </ul>
            </div>
            <div class="box-position" style="background-image: url({% static 'static_images/bukhara.jpg' %});"></div>
        </div>
    </section>
    <!-- Grid Gallery-->
    <section class="section section-xl bg-default text-center isotope-wrap">
        <div class="container">
            <div class="row row-50 isotope" data-isotope-layout="fitRows" data-isotope-group="gallery"
                 data-lightgallery="group">
                {% for gallery in galleries %}
                    <div class="col-md-6 col-lg-4 isotope-item" data-filter="Type 3">
                        <!-- Thumbnail Modern-->
                        <article class="thumbnail thumbnail-modern thumbnail-sm"><a class="thumbnail-modern-figure"
                                                                                    href="{{ gallery.image.url }}"
                                                                                    data-lightgallery="item"><img
                                src="{{ gallery.image.url }}" alt="" width="420" height="350"/></a>
                            <div class="thumbnail-modern-caption">
                                <h5 class="thumbnail-modern-title">{{ gallery.name }}</h5>
                                <p class="thumbnail-modern-subtitle">{{ gallery.country.name }}</p>
                            </div>
                        </article>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock content %}