{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <section class="breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom context-dark bg-overlay-46">
            <div class="container">
                <h2 class="breadcrumbs-custom-title">{% trans "our_tours" %}</h2>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'home' %}">{% trans "home" %}</a></li>
                    <li class="active">{% trans "our_tours" %}</li>
                </ul>
            </div>
            <div class="box-position" style="background-image: url({% static 'static_images/bukhara.jpg' %});"></div>
        </div>
    </section>
    <section class="section section-xl bg-default">
        <div class="container">
            <div class="row-sm row-40 row-md-50 justify-content-center">
                {% for tour in all_tours %}
                    <div class="col-sm-12 col-md-12 wow fadeInRight">
                        <!-- Product Big-->
                        <article class="product-big">
                            <div class="unit flex-column flex-md-row align-items-md-stretch">
                                <div class="unit-left"><a class="product-big-figure"
                                                          href="{% url 'tour_detail' tour.slug %}"><img
                                        src="{{ tour.preview_image.url }}" alt="" width="600" height="366"/></a></div>
                                <div class="unit-body">
                                    <div class="product-big-body">
                                        <h5 class="product-big-title"><a
                                                href="{% url 'tour_detail' tour.slug %}">{{ tour.name }}</a>
                                        </h5>
                                        <div class="group-sm group-middle justify-content-start">
                                            <div class="product-big-rating"><span
                                                    class="icon material-icons-star"></span><span
                                                    class="icon material-icons-star"></span><span
                                                    class="icon material-icons-star"></span><span
                                                    class="icon material-icons-star"></span><span
                                                    class="icon material-icons-star"></span></div>
                                            <a class="product-big-reviews" href="#"></a>
                                        </div>
                                        <p class="product-big-text">{{ tour.description|safe|truncatechars_html:7 }}</p><a
                                            class="button button-black-outline button-ujarak"
                                            href="{% url 'tour_detail' tour.slug %}">{% trans "more" %}</a>
                                        {% if tour.show_price %}
                                            <div class="product-big-price-wrap"><span
                                                    class="product-big-price">${{ tour.price }}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}