{% extends 'base.html' %}

{% block content %}
    <!-- Breadcrumbs -->
    <section class="breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom context-dark bg-overlay-46">
            <div class="container">
                <h2 class="breadcrumbs-custom-title">Single tour</h2>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'tours' %}">Our Tours</a></li>
                    <li class="active">{{ tour.name }}</li>
                </ul>
            </div>
            <div class="box-position" style="background-image: url({{ tour.preview_image.url }});"></div>
        </div>
    </section>
    <!-- Single Project-->
    <section class="section section-sm section-first bg-default">
        <div class="container">
            <div class="row row-50 justify-content-center">
                <div class="col-md-6 col-lg-7">
                    <div class="row row-30 row-lg-40" data-lightgallery="group">
                        <div class="col-12">
                            <div class="oh-desktop">
                                <!-- Thumbnail Joan-->
                                <article class="thumbnail thumbnail-joan wow slideInRight"><a
                                        class="thumbnail-joan-figure"
                                        href="{{ tour.preview_image.url }}"
                                        data-lightgallery="item"><img src="{{ tour.preview_image.url }}" alt=""
                                                                      width="700" height="518"/></a>
                                    <div class="thumbnail-joan-caption">
                                        <h5 class="thumbnail-joan-title">Preview image</h5>
                                    </div>
                                </article>
                            </div>
                        </div>
                        {% for event in events %}
                            <div class="col-12">
                                <div class="oh-desktop">
                                    <!-- Thumbnail Joan-->
                                    <article class="thumbnail thumbnail-joan wow slideInRight"><a
                                            class="thumbnail-joan-figure"
                                            href="{{ event.image.url }}"
                                            data-lightgallery="item"><img src="{{ event.image.url }}" alt=""
                                                                          width="700" height="518"/></a>
                                        <div class="thumbnail-joan-caption">
                                            <h5 class="thumbnail-joan-title">{{ event.name }}</h5>
                                        </div>
                                    </article>
                                </div>
                                <div class="text-black-500" style="text-align: left">
                                    {{ event.description|safe }}
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="col-md-6 col-lg-5 position-relative" style="height: 100% !important;">
                    <div class="single-project single-project-4" style="position: sticky; top: 0;">
                        <div class="single-tour-title">
                            <h4 class="title-decoration-lines-bottom">{{ tour.name }}, <br class="d-none d-lg-block">
                                {{ tour.country.name }}<span></span></h4>
                        </div>
                        {% if tour.show_price %}
                            <div class="single-tour-price">
                                <div class="product-big-price-wrap"><span
                                        class="product-big-price">${{ tour.price }}</span>
                                </div>
                            </div>
                        {% endif %}
                        <div class="text-gray-500">
                            {{ tour.description|safe }}
                        </div>
                        <div class="divider divider-30"></div>
                        <ul class="list list-description d-inline-block d-md-block">
                            <li><span>Country:</span><span>{{ tour.country.name }}</span></li>
                            {% if tour.show_price %}
                            	<li><span>Cost:</span><span>{{ tour.price }}$</span></li>
                            {% endif %}
                            <li><span>Type:</span><span>{{ tour.type.type }}</span></li>
                            <li><span>Category:</span><span>Tour Category</span></li>
                        </ul>
                        <a href="{% url 'payment' %}?country={{ tour.country.name }}" class="button button-primary button-pipaluk">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Project Links-->
    <section class="section section-sm section-last bg-default">
        <div class="container">
            <div class="project-navigation">
                <div class="row row-30">
                    {% if prev_tour %}
                        <div class="col-sm-6">
                            <div class="project-minimal">
                                <div class="unit unit-spacing-lg align-items-center flex-column flex-lg-row text-lg-left">
                                    <div class="unit-body">
                                        <p class="project-minimal-text">{{ prev_tour.type.type }}</p>
                                        <div class="project-minimal-title"><a
                                                href="{% url 'tour_detail' prev_tour.slug %}">{{ prev_tour.name }},<br>{{ prev_tour.country.name }}
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if next_tour %}
                        <div class="col-sm-6">
                            <div class="project-minimal">
                                <div class="unit unit-spacing-lg align-items-center flex-column flex-lg-row-reverse text-lg-right">
                                    <div class="unit-body">
                                        <p class="project-minimal-text">{{ next_tour.type.type }}</p>
                                        <div class="project-minimal-title"><a
                                                href="{% url 'tour_detail' next_tour.slug %}">{{ next_tour.name }},<br>{{ next_tour.country.name }}
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}